In [1]:
#importing nessecary libraries
import numpy as np              #used to work numerical data
import pandas as pd             #used to manipluation of data
import matplotlib.pyplot as plt #used to visualize the data

In [18]:
#loading the data from dataset
df = pd.read_csv('./Google_Stock_Price_Train.csv')
df.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [19]:
#display the detail of column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   object
 1   Open    1258 non-null   float64
 2   High    1258 non-null   float64
 3   Low     1258 non-null   float64
 4   Close   1258 non-null   object
 5   Volume  1258 non-null   object
dtypes: float64(3), object(3)
memory usage: 59.1+ KB

In [20]:
#converted Close, Volume columns and Data into their appropriate type
df['Close'] = [float(x.replace(',','')) for x in df['Close']]
df['Volume'] = [float(x.replace(',','')) for x in df['Volume']]
df['Date'] = pd.to_datetime(df['Date'])